In [2]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('C:/Users/LIKHITH GOWDA K/Documents/feature engineering/playstore.csv')

In [5]:
data['Reviews'] = pd.to_numeric(data['Reviews'], errors='coerce')

In [7]:
# Check unique values in 'Installs' to understand the problem
print(data['Installs'].unique())

# 1. Remove non-numeric characters and handle errors
# Convert 'Installs' column to numeric, replacing non-numeric values with NaN
data['Installs'] = data['Installs'].str.replace(',', '').str.replace('+', '')

# 2. Convert to numeric and coerce non-numeric values to NaN
data['Installs'] = pd.to_numeric(data['Installs'], errors='coerce')

# 3. Optionally, fill NaN values if necessary (you can use median or any other method)
data['Installs'].fillna(0, inplace=True)  # Replace NaNs with 0, or choose another method

# Check the result after conversion
print(data['Installs'].head())

['10,000+' '500,000+' '5,000,000+' '50,000,000+' '100,000+' '50,000+'
 '1,000,000+' '10,000,000+' '5,000+' '100,000,000+' '1,000,000,000+'
 '1,000+' '500,000,000+' '50+' '100+' '500+' '10+' '1+' '5+' '0+' '0'
 'Free']
0       10000.0
1      500000.0
2     5000000.0
3    50000000.0
4      100000.0
Name: Installs, dtype: float64

C:\Users\LIKHITH GOWDA K\AppData\Local\Temp\ipykernel_33244\1409783646.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Installs'].fillna(0, inplace=True)  # Replace NaNs with 0, or choose another method

In [9]:
# Check unique values in the 'Price' column
print(data['Price'].unique())

# Ensure 'Price' column is treated as a string before replacing '$'
data['Price'] = data['Price'].astype(str)

# Remove '$' from the 'Price' column
data['Price'] = data['Price'].str.replace('$', '')

# Convert to numeric, replacing non-numeric entries with NaN
data['Price'] = pd.to_numeric(data['Price'], errors='coerce')

# Optionally, fill NaN values (e.g., with 0 if the app is free or any other value)
data['Price'].fillna(0, inplace=True)

# Check the cleaned 'Price' column
print(data['Price'].head())

['0' '$4.99' '$3.99' '$6.99' '$1.49' '$2.99' '$7.99' '$5.99' '$3.49'
 '$1.99' '$9.99' '$7.49' '$0.99' '$9.00' '$5.49' '$10.00' '$24.99'
 '$11.99' '$79.99' '$16.99' '$14.99' '$1.00' '$29.99' '$12.99' '$2.49'
 '$10.99' '$1.50' '$19.99' '$15.99' '$33.99' '$74.99' '$39.99' '$3.95'
 '$4.49' '$1.70' '$8.99' '$2.00' '$3.88' '$25.99' '$399.99' '$17.99'
 '$400.00' '$3.02' '$1.76' '$4.84' '$4.77' '$1.61' '$2.50' '$1.59' '$6.49'
 '$1.29' '$5.00' '$13.99' '$299.99' '$379.99' '$37.99' '$18.99' '$389.99'
 '$19.90' '$8.49' '$1.75' '$14.00' '$4.85' '$46.99' '$109.99' '$154.99'
 '$3.08' '$2.59' '$4.80' '$1.96' '$19.40' '$3.90' '$4.59' '$15.46' '$3.04'
 '$4.29' '$2.60' '$3.28' '$4.60' '$28.99' '$2.95' '$2.90' '$1.97'
 '$200.00' '$89.99' '$2.56' '$30.99' '$3.61' '$394.99' '$1.26' 'Everyone'
 '$1.20' '$1.04']

In [10]:
def convert_size(size):
    if size.endswith('M'):
        return float(size[:-1]) * 1024  # Convert MB to KB
    elif size.endswith('k'):
        return float(size[:-1])  # Size is already in KB
    else:
        return np.nan  # For entries like "Varies with device"

In [11]:
data['Size'] = data['Size'].apply(convert_size)

# Impute missing sizes by median (optional)
data['Size'].fillna(data['Size'].median(), inplace=True)

C:\Users\LIKHITH GOWDA K\AppData\Local\Temp\ipykernel_33244\3391531980.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Size'].fillna(data['Size'].median(), inplace=True)

In [13]:
# 5. Fill missing 'Rating' values with median rating
data['Rating'].fillna(data['Rating'].median(), inplace=True)

C:\Users\LIKHITH GOWDA K\AppData\Local\Temp\ipykernel_33244\701555547.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Rating'].fillna(data['Rating'].median(), inplace=True)

In [14]:
# 6. Handle missing values in 'Type' by filling with the mode ('Free')
data['Type'].fillna('Free', inplace=True)

In [16]:
# Inspect the unique values in the 'Last Updated' column to find problematic entries
print(data['Last Updated'].unique())

# Handle non-date values by coercing errors to NaT (Not a Time)
data['Last Updated'] = pd.to_datetime(data['Last Updated'], errors='coerce')

# Now that non-date values have been set to NaT, you can fill or drop them if needed
# Example: Filling NaT with the most recent valid date or a placeholder date
data['Last Updated'].fillna(pd.to_datetime('2018-01-01'), inplace=True)

# Alternatively, you can drop rows with NaT values in 'Last Updated'
# data.dropna(subset=['Last Updated'], inplace=True)

# Extract the year and month
data['Year Updated'] = data['Last Updated'].dt.year
data['Month Updated'] = data['Last Updated'].dt.month

# Check the cleaned 'Last Updated' column
print(data[['Last Updated', 'Year Updated', 'Month Updated']].head())

['January 7, 2018' 'January 15, 2018' 'August 1, 2018' ...
 'January 20, 2014' 'February 16, 2014' 'March 23, 2014']
  Last Updated  Year Updated  Month Updated
0   2018-01-07          2018              1
1   2018-01-15          2018              1
2   2018-08-01          2018              8
3   2018-06-08          2018              6
4   2018-06-20          2018              6

C:\Users\LIKHITH GOWDA K\AppData\Local\Temp\ipykernel_33244\1080415297.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Last Updated'].fillna(pd.to_datetime('1970-01-01'), inplace=True)

In [17]:
# 8. Encoding categorical columns
# One-hot encode 'Category' and 'Content Rating' (can use label encoding if desired)
data = pd.get_dummies(data, columns=['Category', 'Content Rating'], drop_first=True)

In [18]:
# 9. Convert 'Type' to binary (Free=0, Paid=1)
data['Type'] = data['Type'].map({'Free': 0, 'Paid': 1})

In [19]:
# 10. Split 'Genres' to take the first genre in case of multiple
data['Genres'] = data['Genres'].apply(lambda x: x.split(';')[0])

In [20]:
# Convert 'Genres' to numerical format via label encoding
data['Genres'] = data['Genres'].astype('category').cat.codes

In [21]:
# Save the cleaned and feature engineered dataset
data.to_csv('playstore_cleaned.csv', index=False)

In [22]:
print("Feature engineering complete! Cleaned data saved as 'playstore_cleaned.csv'.")

Feature engineering complete! Cleaned data saved as 'playstore_cleaned.csv'.